body {
    margin: 0;
    font-family: sans-serif;
    background: #f4f6f8;
}

.container {
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;

}
.container img {
    width: 100%;
    height: auto;
    max-height: 450px;
    object-fit: contain;
}
input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: black;
}

button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    opacity: 0.85;
}

button.secondary {
    width: 20%;
    background: #ddd;
    color: black;
}

.error {
    color: red;
    font-size: 14px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.search {
    width: 60%;
    margin: auto;
}

.search input {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 90%;
    margin: 2rem auto;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 12px;
    text-decoration: none;
    color: black;
    transition: 0.2s;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    max-width: 250px;
    margin: 0 auto;
}

.card:hover {
    transform: translateY(-3px);
}

.card img {
    width: 100%;
    border-radius: 8px;
}
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
.pagination button {
    width: 10%;
}

.skeleton {
    background: linear-gradient(90deg, #eee, #ddd, #eee);
    background-size: 200px 100%;
    animation: shimmer 1.2s infinite;
    border-radius: 10px;
}

@keyframes shimmer {
    0% { background-position: -200px 0; }
    100% { background-position: 200px 0; }
}

.skeleton-card {
    height: 180px;
}

.error-box {
    background: #ffe5e5;
    color: #b00020;
    padding: 10px;
    border-radius: 8px;
    margin: 20px;
    text-align: center;
}

@media (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .grid {
        grid-template-columns: 1fr;
    }
}